DATABASE_URL="postgresql://mlops:password123@localhost:5432/mlops?schema=public"
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=neo-prediction-mlops-secret-2026
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_AIRFLOW_URL=http://localhost/airflow