DATABASE_URL="postgresql://mlops:password123@localhost:5432/mlops?schema=public"
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=neo-prediction-mlops-secret-2026
NEXTAUTH_URL=http://reddx.me
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_AIRFLOW_URL=/airflow